body {
  background: linear-gradient(to bottom, rgba(161, 196, 253, 0.8), rgba(194, 233, 251, 0.8)),
              url('/assets/serene-forest.jpg') no-repeat center center fixed;
  background: linear-gradient(to bottom, rgba(161, 196, 253, 0.8), rgba(194, 233, 251, 0.8)),
              url('/assets/serene-forest.webp') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Set to transparent to allow gradient background to show */
  }
  
  h1 {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .todo-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
  }
  
  .todo-form, .todo-list {
    width: 45%;
  }
  
  .todo-form {
    padding-right: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  input[type='date'], input[type='time'] {
    width: 48%;
    margin-right: 4%;
  }
  
  input[type='time'] {
    margin-right: 0;
  }
  
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: linear-gradient(to bottom, rgba(161, 196, 253, 0.8), rgba(194, 233, 251, 0.8));
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    max-width: 500px; /* Reduce the width of the todo list items */
    width: 65%; /* Ensure it is responsive within the parent container */
  }
  
  h2 {
    margin: 0 0 10px;
    font-size: 1.25rem;
    color: #333;
  }
  
  p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .todo-actions {
    margin-top: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    align-items: center; /* Align buttons to the left */
  }
  
  .todo-actions button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px; /* Small margin between buttons */
    width: auto; /* Let the button adjust its width to content */
  }
  
  .todo-actions button:nth-child(2) {
    background-color: #dc3545;
  }
  
  .todo-actions button:nth-child(3) {
    background-color: #28a745;
  }
  
  .todo-actions button:last-child {
    margin-bottom: 0; /* Remove the margin for the last button */
  }
  
  .todo-actions button:hover {
    opacity: 0.8;
  }
  
  .quote-container {
    display: flex;
    flex-direction: column;  // Always stack vertically
    align-items: center;
    margin-top: 20px;
    padding: 75px;

    .quote-text {
        font-style: italic;
        font-size: 1.5em;
        color: #333;
        text-align: center;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: linear-gradient(to bottom, rgba(161, 196, 253, 0.8), rgba(194, 233, 251, 0.8));
        max-width: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .quote-author {
        font-size: 1.2em;
        color: #555;  // A subtle gray color to differentiate it from the quote
        text-align: right;
        margin-top: 10px;
        font-weight: bold;
        font-style: normal;  // Keeping the author's name in a normal style, not italic
        padding-right: 20px;
        
        // Slightly increase the font size for larger screens
        @media (min-width: 768px) {
            font-size: 1.3em;
        }
    }

    button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
  
    button:hover {
        background-color: #45a049;
    }
  }
  
  .logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .logout-container button {
    padding: 10px 15px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-container button:hover {
    background-color: #ff7875;
  }
  
  